span.color{
	font-family: 'Peralta', cursive;
	font-weight:100;
	margin:0;
	color:#45A3D6 !important;
}

span.color1{
	font-family: 'Peralta', cursive;
	font-weight:100;
	margin:0;
	color:#ff5a56 !important;
}
span.color2{
	font-family: 'Peralta', cursive;
	font-weight:100;
	margin:0;
	color:#a353b4 !important;
}
span.color3{
	font-family: 'Peralta', cursive;
	font-weight:100;
	margin:0;
	color:#faba25 !important;
}
span.color4{
	font-family: 'Peralta', cursive;
	font-weight:100;
	margin:0;
	color:#5dd977 !important;
}
